.shop-basket__container{
  height:50px;
  min-width:12%;
  background-color:#a3a3a3;
  position:fixed;
  z-index:9999999;
  bottom: 0;
  right:0;
  border-top-left-radius:10px;
  padding:12px;
  font-weight:bold;
  display:none;
}

.shop-basket__container a {
  color: orangered;
}

.shop-basket__container .favicon{
  padding-right:5%;
}

@media screen and (max-width: 769px) {
  .shop-basket__container {
    width: 100%;
    border-top-left-radius:0px;
  }
}

.del-goods{
  width: 17px;
  height: 17px;
  color: #fff !important;
  border-radius: 22px !important;
  float: right;
  margin: 10px 0 0 5px;
  line-height: 1;
  font-size: 12px;
}

.del-goods:hover {
  text-decoration: none;
}

//.del-goods {
//  background: #d7dde3 url(../../pages/img/icons/del-goods.png) no-repeat 50% 50%;
//}
//.del-goods:hover {
//  background: #E94D1C url(../../pages/img/icons/del-goods.png) no-repeat 50% 50%;
//}
//.add-goods {
//  background: #7bdd00 url(../../pages/img/icons/add-goods.png) no-repeat 50% 50%;
//}
//.add-goods:hover {
//  background: #E94D1C url(../../pages/img/icons/add-goods.png) no-repeat 50% 50%;
//}

/* shopping cart page */
.goods-data {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
  margin-right: 10px;
}
.goods-data table,
.checkout-page table {
  width: 100%;
  font: 300 13px 'Open Sans', sans-serif;
}
.goods-data th,
.checkout-page th {
  font: 16px "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  border-bottom: solid 1px #ecebeb;
  padding-bottom: 8px;
}
.goods-data td,
.checkout-page td {
  vertical-align: top;
  padding: 20px 20px 20px 0;
  border-bottom: solid 1px #ecebeb;
}
.goods-page-image,
.checkout-image {
  width: 105px;
}
.goods-page-image img,
.checkout-image img {
  width: 75px;
}
.goods-page-price,
.goods-page-total,
.checkout-price,
.checkout-total {
  font-family: 'PT Sans Narrow', sans-serif;
}
.goods-page-price strong,
.goods-page-total strong,
.checkout-price strong,
.checkout-total strong {
  color: #e84d1c;
  font-size: 21px;
  font-weight: normal;
}
.goods-page-price strong span,
.goods-page-total strong span,
.checkout-price strong span,
.checkout-total strong span  {
  font-size: 17px;
}
.goods-data h3,
.checkout-page .checkout-description h3 {
  font: 300 14px 'Open Sans', sans-serif;
  text-transform: inherit;
  padding: 0;
  margin: 0 0 5px;
}
.goods-data p,
.checkout-description p {
  margin-bottom: 2px;
}
.goods-data a,
.checkout-page .checkout-description a {
  color: #e6400c;
}
.goods-page-description em,
.checkout-description em {
  display: block;
  font-style: normal;
}
.goods-page .btn-default {
  float: left;
  border: 1px solid #5ea8dc;
  background: #5ea8dc;
  color: #fff;
}
.goods-page .btn-default:hover {
  border: 1px solid #408cc2;
  background: #408cc2;
}
.goods-page .btn-primary {
  float: right;
  margin-right: 10px;
}

.goods-data .del-goods,
.goods-data .add-goods {
  margin-top: 4px;
}

.shopping-total {
  width: 230px;
  float: right;
  padding-top: 9px;
  color: #3e4d5c;
}

.shopping-total ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.shopping-total li {
  border-bottom: solid 1px #ecebeb;
  width: 100%;
  overflow: hidden;
  padding: 9px 0;
}
.shopping-total li:last-child {
  border: none;
}
.shopping-total em{
  font: 18px 'PT Sans Narrow', sans-serif;
  float: left;
  text-transform: uppercase;
  position: relative;
  top: 2px;
}
.shopping-total strong {
  color: #e84d1c;
  font: 21px 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  float: right;
}
.shopping-total strong span {
  font-size: 17px;
}
.shopping-total-price {
  font-weight: bold;
}
.shopping-total-price strong {
  font-weight: bold;
}
.input-sm {
  padding: 3px 10px;
}

.goods-data td.compare-info {
  width: 20%;
  vertical-align: middle;
  background: #F9F9F9;
}
.goods-data td.compare-info,
.goods-data td.compare-item {
  padding: 20px;
}
.goods-data th h2 {
  font-size: 17px;
  padding: 8px 20px 0;
  margin: 0;
  font-weight: bold;
}
.goods-page .compare-item .btn-primary {
  color: #fff;
  float: none;
}
.goods-page .compare-item .btn-default {
  border: 1px solid #EDEDED;
  color: #A8AEB3;
  background: transparent;
  padding: 6px 13px;
  float: none;
  margin-top: 10px;
}
.goods-page .compare-item .btn-default:hover,
.goods-page .compare-item .btn-default:focus,
.goods-page .compare-item .btn-default:active {
  border: 1px solid #A8AEB3;
  color: #fff;
  background: #A8AEB3;
  padding: 6px 13px;
}
.product-quantity,
.product-quantity .input-group {
  width: 70px;
  float: left;
  margin-right: 20px;
  position: relative;
}
table .product-quantity,
table .product-quantity .input-group {
  margin-right: 0;
}
.product-quantity input.form-control {
  border: none;
  background: #edeff1 !important;
  font: 300 23px 'Open Sans', sans-serif;;
  color: #647484;
  height: 38px;
  width: 50px;
  text-align: center;
  padding: 5px;
}
.product-quantity input.form-control:focus {
  border: none;
}

.product-quantity .input-group-btn {
  position: static;
}
.product-quantity .btn {
  text-align: center;
  height: 18px !important;
  width: 18px;
  padding: 0 2px 0 1px !important;
  background: #edeff1;
  border-radius: 0 !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: #616b76;
  margin: 0 !important;
  position: absolute;
  right: 0;
}
.product-quantity .quantity-up {
  top: 0;
}
.product-quantity .quantity-down {
  bottom: 0;
}
.product-quantity .btn i {
  position: relative;
  top: -2px;
  left: 1px;
}



